.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 70px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.cardColumns {
  display: inline-grid;
  margin: 10px 10px 10px 10px;
  /* background-color: #DE8F6E; */
  border-radius: 5px;
}
